<!DOCTYPE html>
<html lang="en" data-th-fragment="parent(content,title,script)">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" data-th-href="@{'css/output.css'}" />
    <link rel="stylesheet" data-th-href="@{'css/style.css'}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title data-th-replace="${title}">Base Page</title>
  </head>
  <body class="h-screen w-full bg-orange-100 dark:bg-blue-900 dark:text-white">
    <!-- Headers -->
    <div data-th-replace="~{navbar :: navbar}"></div>

    <!-- Main Content -->
    <div class="p-4">
      <section data-th-replace="${content}"></section>
    </div>

    <!-- Common Footer -->
    <!-- <footer class="p-4">Footer: Common Footer</footer> -->

    <script data-th-src="@{/js/script.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <data-th-block data-th-replace="${script}"></data-th-block>
  </body>
</html>
